# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.eggs/
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# IDE config folders
.vscode/
.idea/

# OS metadata files
.DS_Store
Thumbs.db